@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
:root {
  --secondary-bg-color: #1f2833;
  --nav-text-color: #d0fff3ce;
  --text-color: #1e1c20;
  --button-color: #ffffff;
  --link-hover-color: #2d3436;
  --primary-background-color: #0b0c10;
  --article-background-color: #30b4a5;
  --section-background-color: #45a29e;
  --container-width: 1200px;
  --navbar-height: 50px;
  --navbar-offset: -50px;
  --border-radius-amount: 10px;
  --hover-border-radius-amount: 5px;
}

body {
  margin: 0;
  font-family: "Yusei Magic", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

a {
  color: var(--nav-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
