@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
:root {
  --secondary-bg-color: #4d4e4f;
  --nav-text-color: #ffffff;
  --text-color: #ffffff;
  --button-color: #ea962c;
  --link-hover-color: #2d3436;
  --article-background-color: rgba(195, 102, 114, 0.85);
  --container-width: 1200px;
  --navbar-height: 50px;
  --navbar-offset: -50px;
  --border-radius-amount: 10px;
  --hover-border-radius-amount: 5px;
}

.App {
  font-family: "Yusei Magic", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
}
