$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
.projects {
  width: 100%;
  max-width: var(--container-width);

  section {
    margin: 10px;
    background: var(--section-background-color);
    padding: 15px;
    border-radius: 10px;
  }

  span.fa {
    padding: 0;
    position: relative;
    float: right;
    margin-top: -50px;
  }

  .description {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(80vw, 450px), 1fr));
    grid-column-gap: 10px;
  }

  .description > article {
    justify-self: center;
    padding: 0 20px 0px 20px;
  }

  article {
    text-align: center;
    background-color: var(--article-background-color);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-amount);
    border: 1px solid black;
  }
}
