.links {

  width: 100%;
  background-color: rgba(150,150,150,0.8);

  ol {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  
  li {
    padding: 0px 1vw 0px 1vw;
  }
  
  li > a {
    text-decoration: none;
    padding: 5px;
    border-radius: var(--hover-border-radius-amount);
    transition: all 0.2s ease-out;
  }
  
  li > a:hover {
    background-color: var(--button-color);
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
}

header {
  width: 100%;
}

